@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';


.app__prices-wrap {
    // display: flex;
    justify-content: space-between;
    // flex-direction: row-reverse;
    align-items: center;

    .p-text{
        margin: 20px 0;
    }
    
    .app__logo {
        margin: 20px 0 ;
    }



        h3 {
            // border-bottom: 1px solid $color-dark;
            font-size: 20px;
            font-weight: $font-normal;
            font-family: $handwriting-font;
            color: $color-main;
            margin: 20px 0;
    
        }

        ul {
            border-bottom: 1px solid $color-dark;
        }

        .app__price li {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            margin-left: 0vw;
            
        }
    
}