@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';


.app__price {
    display: flex;
    width: 100%;
    // background-color: red;
    justify-content: space-between;
    border-bottom: 1px solid $color-dark;

    padding: 20px 0;
    flex-wrap: wrap;

    .app__offer-name {
        text-transform: uppercase;
        font-weight: $font-bold;
        width: 100%;

    }

    .app__offers {
        // background-color: green;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        div {
            padding: 20px 0;
        }
    }
}