@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';


.btnwhite {
    @include button($color-light, $color-dark, transparent, auto);
    transition: $transition;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
   
    font-size: .6em;
    padding: .5rem 0rem;
    letter-spacing: 2px;
    font-weight: $font-normal;
    border-bottom: 1px solid $color-dark;

    cursor: pointer;

    &:hover {
      color: $color-main;
      border-bottom: 1px solid $color-main;
      background-color: transparent;

    }
  }
