@import '../../styles/settings.scss';
@import '../../styles/mixins.scss';


.app__teacher-list {
    width: 67%;
    @include flex ( row, stretch, space-between);
    
    @include md {
        width: 100%;
    }

    @include sm-max {
        width: 100%;
        @include flex ( column, center, center);
    }

    .app__teacher-item {
        height: 330px;
        ul {
            li {
                padding: 1rem 0;
            }
        }
    }

    .app_about-img-wrap {
        height: 330px;
        width: 50%;
        border-radius: $radius;

        @include sm-max {
            width: 100%;

        }

        img {
            @include img;
        }
    }
}

.app__quote {
    width: 67%;
    padding: 150px 0 0 0;
    color: $color-neutral;

    @include sm-max {
        width: 100%;
        padding: 30px 0 0 0;
        display: none;
    }
    @include md {
        width: 100%;
    
    }
    
    p:last-child{
        font-size: $header-size-md;
        color: $color-main;
        font-family: $handwriting-font;
        margin-top: 1rem;
    }
}

  
