@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;700&family=Inter:wght@300;400;500;700&family=Playfair+Display:ital@1&family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

$color-main: #4e2133;
$color-dark: #333333;
$color-neutral: #5f5f5f5f;

$color-light: #eaeaea;

$gold-1: #ae8625;
$gold-2: #f7ef8a;
$gold-3: #d2ac47;
$gold-4: #edc967;

$shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

/*fonts*/

$default-font: 'Inter', sans-serif;
$handwriting-font: 'Playfair Display', serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$base-size: 16px;

$header-size: 2.5rem;
$header-size-sm: 2rem;

$subheader-size: 1rem;

$line-height: 1.7;

/* Animation */
$transition: all 0.3s ease-in-out;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*Another*/
$radius: 8px;
$setion-margin-left: 26%;

/*respons*/

// $screen-sm: 576px;
$screen-sm: 36rem;
// $screen-md: 768px;
$screen-md: 48rem;
// $screen-lg: 992px;
$screen-lg: 62rem;
// $screen-xl: 1200px;
$screen-xl: 75rem;
// $screen-xxl: 1400px;
$screen-xxl: 87.5rem;
