@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 996;
  background: $color-light;
  margin: 0 auto;
  padding-top: 18px;

  @include sm-max {
    padding: 18px 17px 0 17px;
  }
  @include sm {
    padding: 18px 17px 0 17px;
  }

  @include lg {
    padding: 18px 2.5% 0 2.5%;
  }
  @include xxl {
    padding: 18px 12% 0 12%;
  }

  .navbar-menu {
    position: relative;
    @include flex(row, center, space-between);
    transition: $transition;
    z-index: 900;

    img {
      height: 50px;
      margin-right: 20px;
    }

    .app__navbar-logo {
      text-transform: uppercase;
      cursor: pointer;
      font-size: $base-size;
      display: flex;
      align-items: center;
    }

    .app__navbar-logo-text {
      @include flex(column, flex-start, center);
      @include sm-max {
        font-size: 14px;
      }

      p:last-child {
        text-transform: lowercase;
      }
    }

    svg {
      display: flex;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
