@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';

nav {
  position: fixed;
  width: 100%;
  z-index: 996;
  background: $color-light;

    .navbar-menu {
        position: relative;
        top: 0;
        left: 50%;
        width: 80%;
        padding: 1.5rem 0px;
        transform: translateX(-50%);
        @include flex(row, center, space-between);
        transition: $transition;
        z-index: 900;   

        .app__navbar-logo {
            text-transform: uppercase;
            cursor: pointer;
            font-size: $base-size-sm;
            display: flex;

            @include md {
                font-size: $base-size-sm;
               
            }
            @include xl {
                font-size: $base-size;
               
            }
        }

        svg {
            display: flex;
            cursor: pointer;
            width: 1.5rem;
            height: 1.5rem;

            // @include xl {
            //     width: $base-size;
            //     height: $base-size;
            // }
        }
    }
}
