@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 996;
  background: $color-light;
  margin: 0 auto;
  padding-top: 18px;

  @include sm-max {
    padding: 18px 17px 0 17px;
  }
  @include sm {
    padding: 18px 17px 0 17px;
  }

  @include lg {
    padding: 18px 2.5% 0 2.5%;
  }
  @include xxl {
    padding: 18px 12% 0 12%;
  }

  .navbar-menu {
    position: relative;
    @include flex(row, center, space-between);
    transition: $transition;
    z-index: 900;

    @media (max-width: 269px) {
      @include flex(column, center, space-between);
    }


    img { 
      height: 80px;
      margin-right: 20px;
      @include sm-max {
        margin-right: 10px;
        height: 50px;
      }
      
    }

    .app__navbar-logo {

      cursor: pointer;
      font-size: $base-size;
      display: flex;
      align-items: center;
    }

    .app__navbar-logo-text {
      @include flex(column, flex-start, center);
      @include sm-max {
        font-size: 14px;
      }

      p:first-child {
        font-size: 20px;
        @include sm-max {
          font-size: 15px;
        }
      }

      p:nth-child(2) {
        text-transform: uppercase;
        @include sm-max {
          font-size: 12px;
        }
        
      }

      p:last-child {
        font-size: 20px;
        font-family: $handwriting-font;
        @include sm-max {
          font-size: 15px;
        }
      }
    }

    svg {
      display: flex;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      @include sm-max {
        width: 1.2rem;
        height: 1.2rem;
        margin-top: 1rem;
      }
    }
  }
}
