@import '../../styles/mixins.scss';


.p-method-text {
    right: 0;
    color: $color-neutral;
    font-size: $base-size;
    font-weight: $font-normal;
    width: 67%;
    margin-bottom: 150px;

    @include md {
        width: 100%;
        height: auto;
        padding: 30px 0 6rem 0;
        margin-bottom: 0;
    }
    
}

.app__method-wrapper {
    width: 100%;

    .app_method-item {
        border-top: 1px solid $color-dark;
        padding: 50px 0 ;
        display: flex;

        @include md {
            @include flex (column, center, space-between)
        }

        @include sm-max {
            padding: 10px 0 0 0;
        }

        .article-headline {
            font-size: $base-size;
            font-weight: $font-normal;
            color: $color-neutral;
            width: 33%;

            @include md {
                width: 100%;
                margin: 0 0 25px;
            }
        }

        .app_content-wrap {
            width: 33%;
            height: 330px;
            @include flex(column, flex-start, space-between);
            padding-right: 1rem;

            @include md {
                width: 100%;
                height: auto;
                padding: 25px 0 0 0 ;
                
                &:nth-child(2) {
                    order: 2;
                }
            }

            p {
                overflow-wrap: anywhere;
                overflow: hidden;
                padding-right: 1rem;
            }

            a {
                margin: 25px 0;
            }
        }

        .app_method-img-wrapper {
            width: 33%;
            height: 330px;
           
            img {
                @include img;
            }

            @include md {
                width: 100%;
            }
        }
    }
}




