@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';

div > h2  {
    z-index: -10;
}

.app__offers-content {
  
    width: 100%;
    @include flex(row, flex-start, space-between);
    flex-wrap: wrap;

    .app_offer-item {
        width: 48%;
        @include flex(column, flex-start, center);
        
        margin: 20px 0;
    
        &:hover  .abstract { 
            display: block;
            z-index: 3;
        }
    
        @include sm-max {
            width: 100%;
        }
        
        @include sm-max {
            width: 100%;
        }
    }
 
}
