@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';

div > h2 {
  z-index: -10;
}

.offert-cursers-wrap {
  @include flex(column, stretch, space-between);

  .btn {
    margin-top: 2rem;
  }

  .app__offers-content {
    width: 100%;
    @include flex(row, flex-start, space-between);
    flex-wrap: wrap;

    .app_offer-item {
      width: 48%;
      @include flex(column, flex-start, center);
      position: relative;
      margin: 20px 0;

      &:hover .abstract {
        display: block;
        z-index: 3;
      }

      @include sm-max {
        width: 100%;
      }

      .app__img-wrap {
        &:hover .abstract {
          opacity: 1;
        }

        .abstract {
          position: absolute;
          bottom: 0%;
          left: 0%;
          background-color: $color-light;
          opacity: 0;
          height: 100%;
          transition: 0.3s linear;

          @include sm-max {
            display: none;
          }
        }
      }
    }
  }
}
